<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Ubottu bantracker</title>
    <link rel="stylesheet" href="bot.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/png" />
    <script type="text/javascript" src="bans.js"></script>
  </head>
  <body>
    <div class="main">
      <h1>Ubottu Bantracker</h1>
      <div class="errors">
      %e
      </div>
      <div>
      %s
      </div>
      <p>&copy;2006 Dennis Kaarsemaker<br>
      Edited by Terence Simpson</p>
    </div>
  </body>
</html>
